# Files
RAW_SOURCE_FILE=data/users.csv
RAW_INGESTED_FILE=data/users_ingested.csv
CLEANED_FILE=data/users_cleaned.csv

# AWS
S3_BUCKET=

# Snowflake
SNOWFLAKE_USER=
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_PRIVATE_KEY=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=
SNOWFLAKE_TABLE=
SNOWFLAKE_ROLE=SYSADMIN